<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
	<script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>
<body>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-heaer">
                <div class="navbar-brand" align="ceenter">
                    {% block tvname %}{% endblock %}
                </div>
            </div>
            {% include "blog/header.html" %}
        </div>
    </nav>

    {% block content %}{% endblock %}
    <div class="panel panel-default">
        <div class="panel-footer"><em>{{now}}</em></div>
    </div>
{% include "blog/footer.html" %}
</body>
</html>